#searchBar{
    border: none;
    outline: none;
}

#Arrow{
    display: none;
    transition: opacity .3s ease-in-out;
    opacity: 0;
}

#sliderDiv:hover #Arrow{
    display: block;
    opacity: 1;
}